doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        title Document
    body
    header.header
        .contenir.header__contenir
            .logo
                img(src="maxresdefault.jpg")
                nav.nav
                    ol.nav__list
                        li.nav__item 
                            a(href="#").nav__link Главная
                        li.nav__item 
                            a(href="#").nav__link Магазин
                        li.nav__item 
                            a(href="#").nav__link Заказы
                        li.nav__item 
                            a(href="#").nav__link О сервисе
                        li.nav__item 
                           a(href="#").nav__link Помощь
    .center
        img(src="eb84e236606a9ca9708e299b9fda1451.jpg", alt="")
        .text Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta mollitia facere consequuntur molestiae quidem, <br> labore voluptatem illum minima tempore rerum, porro atque dolor quaerat a dolorem nesciunt, nam sint vitae <br> ex inventore sunt. Dolore quidem consequuntur eaque? Saepe, unde ab consectetur rem fugiat ex maiores <br> dolorum iure natus molestias illum libero delectus laudantium, in, itaque officia asperiores aspernatur eius! <br> Quia voluptas qui dolorum doloremque deleniti iusto eos, ipsum, quaerat illum accusamus modi provident <br> blanditiis  natus delectus ratione? Laboriosam, sapiente. Beatae, et doloremque aperiam sunt quis nobis. <br> Esse dolor aspernatur provident autem architecto. Cumque, quasi itaque quidem aspernatur voluptatum <br> minima quo sunt animi, voluptas provident at nesciunt? Qui, aliquam nisi. Pariatur mollitia optio doloremque <br> reiciendis, dolorum ullam dolore molestiae, dolores officiis quae doloribus fugit animi quo beatae autem <br> temporibus ea repellat illo, amet eaque distinctio veniam eos perferendis? Voluptates id quaerat, reiciendis, <br> obcaecati repellendus et tenetur ad labore, reprehenderit sint quos quibusdam natus voluptatum praesentium <br> perferendis est ratione fugiat unde! Eum assumenda voluptate facilis est beatae possimus porro.
    .center2
        .text2 <br><br><br><br><br><br><br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta mollitia facere consequuntur molestiae quidem, <br> labore voluptatem illum minima tempore rerum, porro atque dolor quaerat a dolorem nesciunt, nam sint vitae <br> ex inventore sunt. Dolore quidem consequuntur eaque? Saepe, unde ab consectetur rem fugiat ex maiores <br> dolorum iure natus molestias illum libero delectus laudantium, in, itaque officia asperiores aspernatur eius! <br> Quia voluptas qui dolorum doloremque deleniti iusto eos, ipsum, quaerat illum accusamus modi provident <br> blanditiis  natus delectus ratione? Laboriosam, sapiente. Beatae, et doloremque aperiam sunt quis nobis. <br> Esse dolor aspernatur provident autem architecto. Cumque, quasi itaque quidem aspernatur voluptatum <br> minima quo sunt animi, voluptas provident at nesciunt? Qui, aliquam nisi. Pariatur mollitia optio doloremque <br> reiciendis, dolorum ullam dolore molestiae, dolores officiis quae doloribus fugit animi quo beatae autem <br> temporibus ea repellat illo, amet eaque distinctio veniam eos perferendis? Voluptates id quaerat, reiciendis, <br> obcaecati repellendus et tenetur ad labore, reprehenderit sint quos quibusdam natus voluptatum praesentium <br> perferendis est ratione fugiat unde! Eum assumenda voluptate facilis est beatae possimus porro.
        img(src="image.webp", alt="")

